$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.feed {
  p { margin: 5px 0 0 0; }
}

.widget header {
  aside {
    float: right;
    margin-left: 5px;
    color: #ccc;
    text-align: right;
    font-size: 80%;
    line-height: 1.1em;

    a {color: #ccc;}
  }
}