<div class="row-fluid">
    <div class="span3"><feed url="https://news.ycombinator.com/rss" count="20"></feed></div>
    <div class="span3"><feed url="http://rss.slashdot.org/Slashdot/slashdot" count="10" display="snippet"></feed></div>
    <div class="span6">
      <h1>Calendar</h1>
      <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTz=0&amp;showCalendars=0&amp;bgcolor=%23fafafa&amp;wkst=1&amp;src=thibault.david%40gmail.com&amp;color=%232952A3&amp;src=2g5hhq1d0nk373earfrnlb37k8%40group.calendar.google.com&amp;color=%23B1365F&amp;src=david.thibault%40sigmund.ca&amp;color=%238C500B&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>