<div class="row-fluid">
    <div class="span3"><feed url="https://news.ycombinator.com/rss" count="20"></feed></div>
    <div class="span3"><feed url="http://rss.slashdot.org/Slashdot/slashdot" count="10" display="snippet"></feed></div>
    <div class="span6">
      <h2>Calendar</h2>
      <gcal calendars="calendars" width="100%" height="600"></gcal>

      <h3>Experimental stuff</h3>
      <button ng-click="addGoogleAccount()">Google test</button>
      <button ng-click="resetGoogleAccounts()">Reset</button>

      <div ng-show="inboxes.length > 0">
        <h4>Unread emails</h4>
        <ul>
          <li ng-repeat="inbox in inboxes">
            <strong>{{inbox.unreadCount}}</strong> in {{inbox.email}}
          </li>
        </ul>
      </div>
    </div>
</div>