<div class="row">
    <div class="col-sm-6 col-lg-3"><feed url="https://news.ycombinator.com/rss" count="20"></feed></div>
    <div class="col-sm-6 col-lg-3"><feed url="http://rss.slashdot.org/Slashdot/slashdot" count="10" display="snippet"></feed></div>
    <div class="col-sm-12 col-lg-6">
      <h2>Calendar</h2>
      <gcal calendars="calendars" width="100%" height="600"></gcal>

      <h3>Experimental stuff</h3>

      <button ng-click="addGoogleAccount()">Add google account</button>
      <button ng-click="resetGoogleAccounts()">Reset google accounts</button>
      <button ng-click="addBasecampAccount()">Add basecamp account</button>

      <div ng-show="inboxes.length > 0">
        <h4>Unread emails</h4>
        <ul>
          <li ng-repeat="inbox in inboxes">
            <strong>{{inbox.unreadCount}}</strong> in {{inbox.email}}
          </li>
        </ul>
      </div>

      <div ng-show="todoaccounts.length > 0">
        <h4>Todos</h4>
        <ul>
          <li ng-repeat="account in todoaccounts">
            <strong>{{account.totalCount}}</strong> in {{account.account}}
            <ul>
              <li ng-repeat="list in account.lists">
                <strong>{{list.project}}</strong> <br/> {{list.name}}
                <ul>
                  <li ng-repeat="item in list.items">
                    {{item.name}}
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</div>